<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Portflio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="client/css/responsive.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <script type="text/javascript" src="client/js/portfolio.js"></script>


  </head>
  <body ng-controller="myController">
    <br/>
    <section style="background: #f1f1f1;">
      <header class="container">
        <div class="row">
          <br/>
          <div class="col-xs-2 displayPic">
            <img class="img-circle img-responsive" src="client/images/dp.jpg" />
          </div>
          <div class="col-xs-4 displayName">
            <h2>Sanil Patankar</h2>
            <h3>Web Developer</h3>
            <h3 style="cursor: pointer;"><a class="linkedin" href="https://www.linkedin.com/in/sanil-patankar-bb463a104" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></h3>
          </div>
          <div class="col-md-offset-4 col-xs-2 resume">
            <br/><br/><br/>
            <a class="btn btn-success" href="client/pdf/resume.pdf" target="_blank">Resume</a>
          </div>
          <div class="clearfix"></div>
          <br/>
        </div>
      </header>
    </section>
    <section>
      <br/>
      <div class="container">
        <div class="row">
          <div class="col-xs-8 mainContent">
            <div class="col-xs-12" style="background: #f1f1f1;">
              <h3>About me</h3>
              <br/>
              <p>I'm a Graduate student at University of Maryland, Baltimore County graduating in December 2016. Currently I'm working as an intern at Sparksoft Corporation.</p>
              <p>My interest is towards Information Extraction/Web Semantics. If given an opportunity, I would love to improve my skills and learn new things. I love to brainstorm and think on creative solutions to the problem. For my final semester, I’ll be working on a research in the field of Bioinformatics, the study will be on web semantics that utilizes SPARQL query to retrieve data from parallel servers and combining it. Major focus will be to reduce the execution time by creating a new way of retrieving data from the servers.</p>
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="col-xs-12" style="background: #f1f1f1;">
              <h3>Work Experience</h3>
              <br/>
              <div>
                <span class="pull-right">July 2016 - Present</span>
                <h4>Product Development Intern</h4>
                <p>Sparksoft Corp</p>
                <p>Development of web application in agile development life cycle. Web application programming based on MEAN (MongoDB, Express, AngularJS, NodeJS) stack. Responsible for keeping track of the progress of the module for every scrum meeting.</p>
              </div>
              <br/>
              <div>
                <span class="pull-right">August 2015 – Present</span>
                <h4>Student employee & Gameroom Manager</h4>
                <p>Gameroom, UMBC – Commons.</p>
                <p>Responsible for smooth working of the Gameroom environment, manage the student employees, inventory and scheduling. Also in charge for training of the new employees and providing top customer service.</p>
              </div>
              <br/>
              <div>
                <span class="pull-right">December 2015 - February 2106</span>
                <h4>Web Developer Intern</h4>
                <p>Craft1Digital</p>
                <p>Winter internship; responsible for maintenance and migration of websites from one server to another. Web-based coding on HTML5, CSS3 which included Bootstrap framework, JavaScript and PHP. Most of the websites were based on e-commerce platforms like Magento and WordPress.</p>
              </div>
              <br/>
              <div>
                <span class="pull-right">December 2013 - December 2014</span>
                <h4>Web Developer</h4>
                <p>Moneyfrog Consultancy Pvt Ltd.</p>
                <p>Responsible for participating in the full life cycle of new website development projects, and for implement and maintaining best practice procedures in all areas of work. Also in charge of writing, developing and managing the content of websites.</p>
              </div>
              <br/>
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="col-xs-12" style="background: #f1f1f1;">
              <h3>Latest Project</h3>
              <div style="text-align: center;">
                <h4>Mockspider - Sparksoft Corp</h4>
                <p>A web-app for sandboxing API's (SOAP & REST) in heathcare domain.</p>
                <br/>
                <img class="img-responsive center-block" src="https://unsplash.it/600/400?image=0"/>
                <br/>
                <br/>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12" style="background: #f1f1f1;">
              <hr style="background-color: #ffffff"/>
              <div class="row">
                <div class="col-xs-4"><br/><img class="img-responsive" src="client/images/proj1.png"/></div>
                <div class="col-xs-8">
                  <h3>The Clothes Spa.</h3>
                  <p>The Clothes spa is a website of a small scale laundry business in Atlanta. It was a free lancing project for the the firm Craft1 Digital.</p>
                  <p>http://theclothesspa.com</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-xs-4"><br/><img class="img-responsive" src="client/images/pic1.jpg" /></div>
                <div class="col-xs-8">
                  <h3>Information Extraction from Financial News Articles.</h3>
                  <p>A machine learning project where information was extracted from the news article to match a summary template and identify the type of financial article. The programming was done in Python along with IBM’s data analytical tool ‘System-T’.</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-xs-4"><br/><img class="img-responsive" src="client/images/pic3.jpg" /></div>
                <div class="col-xs-8">
                  <h3>Pharmaceutical Representative Database.</h3>
                  <p>Project based on Oracle PL/SQL to keep a record of all the medicine samples, information of Doctors and medical representatives and distribution of those medicine samples for a pharmaceutical company. The project monitored all the phases from the inventory to the distribution of the samples.</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-xs-4"><br/><img class="img-responsive" src="client/images/pic1.jpg" /></div>
                <div class="col-xs-8">
                  <h3>Loan Approval System.</h3>
                  <p>A data analytical project where the loan of an applicant was either approved, denied or required further processing. The project was based on supervised machine learning concepts and used WEKA tool to classify the applicants and get all the statistical data about the application process.</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-xs-4"><br/><img class="img-responsive" src="client/images/pic4.jpg" /></div>
                <div class="col-xs-8">
                  <h3>Literature Review on EHR in Public Health Informatics to Boost Clinical Research.</h3>
                  <p>Literature review on electronic health records which highlights on how EHR is the bridge between health informatics and clinical research.</p>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-xs-4"><br/><img class="img-responsive" src="client/images/pic2.jpg" /></div>
                <div class="col-xs-8">
                  <h3>Influence of Return on Investment on Knowledge Management Strategies.</h3>
                  <p>Literature review which focuses on how ROI affect the KMS especially knowledge sharing in an organization.</p>
                </div>
              </div>
              <br/>
            </div>
            <div class="clearfix"></div>
            <br/>
          </div>
          <div class="col-xs-4 sidebar">
            <div class="col-xs-12" style="background: #f1f1f1;">
              <div class="row">
                <h3 class="col-xs-2"><i style="color:#5f5f5f" class="fa fa-map-marker" aria-hidden="true"></i></h3>
                <span class="col-xs-8"><br/>Baltimore, Maryland.</span>
              </div>
              <div class="row">
                <h3 class="col-xs-2"><i style="color:#5f5f5f" class="fa fa-envelope-o" aria-hidden="true"></i></h3>
                <span class="col-xs-8"><br/>sanilpatankar@gmail.com</span>
              </div>
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="col-xs-12" style="background: #f1f1f1;">
              <h3>Skills</h3>
              <p>My skills are more inclined towards Front-end Development and integration with Back-end. Below is the list of my expertise. Please check out my resume for more detailed information.</p>
              <br/>
              <div>
                <label>Javascript & JQuery</label>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    <span class="sr-only">80%</span>
                  </div>
                </div>
              </div>
              <div>
                <label>AngularJS & NodeJS</label>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                    <span class="sr-only">70%</span>
                  </div>
                </div>
              </div>
              <div>
                <label>HTML5 & CSS</label>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    <span class="sr-only">90%</span>
                  </div>
                </div>
              </div>
              <div>
                <label>MongoDB</label>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                    <span class="sr-only">65%</span>
                  </div>
                </div>
              </div>
              <div>
                <label>Css3 & Bootstrap</label>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                    <span class="sr-only">90%</span>
                  </div>
                </div>
              </div>
              <div>
                <label>Oracle PL/SQL</label>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    <span class="sr-only">80%</span>
                  </div>
                </div>
              </div>
              <div>
                <label>Sass</label>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    <span class="sr-only">40%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="col-xs-12" style="background: #f1f1f1;">
              <h3>Education</h3>
              <div class="row">
                <h3 class="col-xs-2"><i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
                <span class="col-xs-8"><br/><strong>MS in Information Systems.</strong><br/>University of Maryland, Baltimore County. (Dec, 2016)</span>
              </div>
              <div class="row">
                <h3 class="col-xs-2"><i class="fa fa-graduation-cap" aria-hidden="true"></i></h3>
                <span class="col-xs-8"><br/><strong>BE in Information Technology.</strong><br/>University of Mumbai. (May, 2013)</span>
              </div>
              <div class="clearfix"></div>
              <br/>
            </div>
            <div class="clearfix"></div>
            <br/>
            <div class="col-xs-12" style="background: #f1f1f1;">
              <h3>Contact</h3>
              <br/>
              <div class="form-group">
                <h4>Sanil Patankar</h4>
                <p>1106 Courtney Road, Baltimore, Maryland, 21227.</p>
                <p>sanilpatankar@gmail.com</p>
                <p>443-251-6599</p>
              </div>
              <p style="text-align: center;">----- OR -----</p>
              <br/>
              <div class="form-group">
                <form action="https://formspree.io/sanilpatankar@gmail.com" method="post">
                  <input name="name" class="form-control" type="text" placeholder="Name" ng-model="formData.name" required />
                  <br/>
                  <input name="_replyto" class="form-control" type="email" placeholder="email" ng-model="formData.email" required/>
                  <br/>
                  <input name="_subject" class="form-control" type="text" placeholder="Subject" ng-model="formData.subject" required />
                  <br/>
                  <textarea name="message" id="overflowStyle" class="form-control" placeholder="Message.." ng-model="formData.message" rows="20" style="resize: none;" required></textarea>
                  <br/>
                  <button class="btn btn-success pull-right" type="submit" value="send" ng-click="formSubmit()">Submit</button>
                </form>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <br/>
    </section>
    <section>
      <footer>
        <div class="col-xs-12" style="background-color: #333333;">
          <p>..</p>
        </div>
      </footer>
    </section>
  </body>
</html>
